/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

.input-label {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    color: white;
    height: 20px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 20px !important;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 190px);
    font-weight: 500;
    font-size: medium;
}

.logo {
    width: 100px; /* Adjust as necessary */
    margin-bottom: 20px;
}

.title {
    margin-bottom: 1em;
    color: #fff;
}

.input-label {
    text-align: left;
    margin-bottom: 1em;
}

.wrong-input-value {
    border-color: red;
    background-color: #ffe5e5;
}

.btn {
    box-sizing: border-box;
    height: 3.125rem;
    width: 18.75rem;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 1rem;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.text-input {
    box-sizing: border-box;
    height: 3rem;
    width: 18.75rem;
    background-color: transparent;
    border-radius: 1rem;
    outline: none;
    border: solid 1px rgba(255, 255, 255, 1);
    color: white;
    padding: 0 1rem;
    font-size: 18px;
}





