<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Email</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="nav">
    <img th:src="@{/assets/logo.svg}" alt="Devil Logo" class="logo">
</div>
<div class="container">
  <p class="text">Your account has been activated!</p>
</div>
<div class="footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>

