<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Delete Your Account - PartyHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="nav">
    <img th:src="@{/assets/logo.svg}" alt="PartyHub Logo" class="logo">
</div>
<div class="filler"></div>
<div class="container cnt">
    <h1>How to Delete Your Account</h1>
    <p>1. Open the app and log in to your account.</p>
    <p>2. Go to your account profile page.</p>
    <p>3. Beneath the username, you will see a trash can icon.</p>
    <p>4. Click on this icon to initiate the account deletion process.</p>
    <p>5. Confirm the action and your account will be permanently deleted.</p>
    <p>Ensure you have saved or transferred any important information or data you wish to keep before deleting the account, as this process is irreversible.</p>
    <p>If you encounter any difficulties or have additional questions, please contact us for assistance.</p>
    <div class="filler"></div>
</div>
<div class="footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
