<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - PartyHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="nav">
    <img th:src="@{/assets/logo.svg}" alt="PartyHub Logo" class="logo">
</div>
<div class="filler"></div>
<div class="container cnt">
    <h1>Privacy Policy</h1>
    <h2>This Privacy Policy sets out how we, PartyHub, collect, use, and protect the personal information you provide when using our ticket-selling app.</h2>

    <h3>Information Collected</h3>
    <p>To provide you with our services, we may collect the following types of personal information:</p>

    <p>Identification information, such as your name, email address, and date of birth.</p>
    <p>Payment information, such as your credit/debit card number and expiration date.</p>
    <p>Purchase details, including the details of tickets purchased and transaction history.</p>


    <h3>Use of Information</h3>
    <p>The personal information collected will primarily be used for:</p>

    <p>Processing and delivering purchased tickets.</p>
    <p>Managing your account and providing customer support.</p>
    <p>Communicating with you regarding our services, including special offers and promotions.</p>


    <h3>Protection of Information</h3>
    <p>We are committed to protecting the personal information we collect. We use appropriate security measures to protect against unauthorized access, disclosure, or alteration of personal information.</p>

    <h3>Sharing Information</h3>
    <p>The personal information collected will not be sold, exchanged, or shared with third parties, except where necessary to provide the services you have requested, such as processing payments.</p>

    <h3>Access and Update of Information</h3>
    <p>You have the right to access, correct, update, or delete the personal information we have collected about you. You can do this through your account or by contacting us directly.</p>

    <h3>Use of Camera</h3>
    <p>Our app may request access to the camera of your mobile device exclusively within the functionality of the scanner account. Access to the camera is strictly necessary to scan the QR codes of the tickets and to facilitate the verification process as part of our service.</p>

    <h3>Changes to the Privacy Policy</h3>
    <p>We reserve the right to modify this Privacy Policy at any time. Any changes will take effect immediately after they are posted on the app.</p>

    <p>If you have any questions or concerns about this Privacy Policy, please contact us.</p>
    <div class="filler"></div>
</div>
<div class="footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
