<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politici de Confidențialitate - PartyHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="nav">
    <img th:src="@{/assets/logo.svg}" alt="Devil Logo" class="logo">
</div>
<div class="filler"></div>
<div class="container cnt">
    <h1>Politici de Confidențialitate</h1>
    <h2>Această Politică de Confidențialitate stabilește modul în care noi, PartyHub, colectăm, utilizăm și protejăm informațiile personale pe care le furnizați atunci când utilizați aplicația noastră de vânzare a biletelor.</h2>

    <h3>Informații Colectate</h3>
    <p>Pentru a vă oferi serviciile noastre, putem colecta următoarele tipuri de informații personale:</p>
    
        <p>Informații de identificare, cum ar fi numele, adresa de e-mail și data de naștere.</p>
        <p>Informații de plată, cum ar fi numărul și data de expirare a cardului de credit/debit.</p>
        <p>Informații despre achiziții, inclusiv detaliile biletelor achiziționate și istoricul tranzacțiilor.</p>
   

    <h3>Utilizarea Informațiilor</h3>
    <p>Informațiile personale colectate vor fi utilizate în principal pentru:</p>
    
        <p>Procesarea și livrarea biletelor achiziționate.</p>
        <p>Administrarea contului dvs. și furnizarea de asistență clienți.</p>
        <p>Comunicarea cu dvs. în legătură cu serviciile noastre, inclusiv oferte și promoții speciale.</p>
   

    <h3>Protecția Informațiilor</h3>
    <p>Ne angajăm să protejăm informațiile personale pe care le colectăm. Utilizăm măsuri de securitate adecvate pentru a proteja împotriva accesului neautorizat, divulgării sau modificării informațiilor personale.</p>

    <h3>Partajarea Informațiilor</h3>
    <p>Informațiile personale colectate nu vor fi vândute, schimbate sau împărtășite cu terțe părți, cu excepția cazurilor în care este necesar pentru a furniza serviciile solicitate de dvs., cum ar fi procesarea plăților.</p>

    <h3>Accesul și Actualizarea Informațiilor</h3>
    <p>Aveți dreptul de a accesa, corecta, actualiza sau șterge informațiile personale pe care le-am colectat despre dvs. Puteți face acest lucru prin intermediul contului dvs. sau contactându-ne direct.</p>

    <h3>Utilizarea Camerei</h3>
    <p>Aplicația noastră poate solicita acces la camera dispozitivului dumneavoastră mobil exclusiv în cadrul funcționalității contului de scanner. Accesul la camera este necesar strict pentru a scana codurile QR ale biletelor și a facilita procesul de verificare a acestora în cadrul serviciului nostru.</p>

    <h3>Modificări ale Politicii de Confidențialitate</h3>
    <p>Ne rezervăm dreptul de a modifica această Politică de Confidențialitate în orice moment. Orice modificări vor intra în vigoare imediat după publicarea lor în aplicație.</p>

    <p>Dacă aveți întrebări sau nelămuriri cu privire la această Politică de Confidențialitate, vă rugăm să ne contactați.</p>
    <div class="filler"></div>
</div>
<div class="footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
