<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termeni și Condiții - PartyHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="nav">
    <img th:src="@{/assets/logo.svg}" alt="Logo PartyHub" class="logo">
</div>
<div class="container">
    <h1>Termeni și Condiții</h1>
    <p>Bine ați venit la PartyHub. Vă rugăm să citiți cu atenție și să înțelegeți termenii și condițiile de mai jos înainte de utilizarea aplicației. Accesul sau utilizarea aplicației implică acceptarea acestor termeni și condiții.</p>

    <h2>Utilizarea Aplicației:</h2>
    <ul>
        <li>Prin utilizarea aplicației noastre, vă angajați să respectați toate legile și regulamentele aplicabile.</li>
        <li>Sunteți responsabil pentru menținerea confidențialității contului dvs. și a codului promoțional creat.</li>
        <li>Nu puteți utiliza aplicația în niciun scop ilegal sau necorespunzător.</li>
    </ul>

    <h2>Vânzarea Biletelor:</h2>
    <ul>
        <li>Biletele cumpărate prin intermediul aplicației sunt valabile numai pentru evenimentul specific pentru care au fost achiziționate.</li>
        <li>Prețurile biletelor sunt afișate în mod clar în aplicație și sunt supuse modificărilor fără notificare prealabilă.</li>
        <li>Nu există posibilitatea de rambursare a biletelor. Toate vânzările sunt finale.</li>
    </ul>

    <h2>Coduri Promoționale:</h2>
    <ul>
        <li>Fiecare utilizator poate crea un cod promoțional, pe care îl poate distribui altor persoane.</li>
        <li>Reducerea oferită prin codul promoțional este determinată de numărul de persoane care utilizează acel cod la achiziționarea biletelor.</li>
        <li>Reducerea obținută prin codurile promoționale nu se poate aplica retrospectiv. Ele sunt valabile doar pentru evenimentul respectiv.</li>
    </ul>

    <h2>Limitări de Responsabilitate:</h2>
    <ul>
        <li>Ne rezervăm dreptul de a suspenda sau întrerupe accesul la aplicație în orice moment, fără notificare prealabilă.</li>
        <li>Nu ne asumăm nicio responsabilitate pentru orice pierderi sau daune directe sau indirecte cauzate de utilizarea aplicației sau a informațiilor oferite prin intermediul acesteia.</li>
    </ul>

    <h2>Modificări ale Termenilor și Condițiilor:</h2>
    <ul>
        <li>Ne rezervăm dreptul de a modifica acești termeni și condiții în orice moment. Orice modificări vor fi publicate în aplicație și vor intra în vigoare imediat după publicare.</li>
        <li>Continuarea utilizării aplicației după modificarea termenilor și condițiilor reprezintă acceptarea acestora.</li>
    </ul>

    <p>Prin utilizarea aplicației noastre, sunteți de acord să respectați acești termeni și condiții. Dacă aveți întrebări sau nelămuriri, vă rugăm să ne contactați.</p>
</div>
<div class="footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
