<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions - PartyHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="nav">
    <img th:src="@{/assets/logo.svg}" alt="PartyHub Logo" class="logo">
</div>
<div class="filler"></div>
<div class="container cnt">
    <h1>Terms and Conditions</h1>
    <p>Welcome to PartyHub. Please read and understand the terms and conditions below before using the app. Accessing or using the app implies acceptance of these terms and conditions.</p>

    <h2>Use of the App:</h2>

    <p>By using our app, you agree to comply with all applicable laws and regulations.</p>
    <p>You are responsible for maintaining the confidentiality of your account and any promotional code created.</p>
    <p>You may not use the app for any illegal or inappropriate purposes.</p>


    <h2>Ticket Sales:</h2>

    <p>Tickets purchased through the app are valid only for the specific event for which they were purchased.</p>
    <p>Ticket prices are clearly displayed in the app and are subject to change without prior notice.</p>
    <p>There are no refunds for tickets. All sales are final.</p>


    <h2>Promotional Codes:</h2>

    <p>Each user may create a promotional code, which they can distribute to others.</p>
    <p>The discount offered through the promotional code is determined by the number of people who use that code to purchase tickets.</p>
    <p>The discount obtained through promotional codes cannot be applied retrospectively. They are only valid for the respective event.</p>


    <h2>Limitation of Liability:</h2>

    <p>We reserve the right to suspend or terminate access to the app at any time, without prior notice.</p>
    <p>We are not responsible for any direct or indirect losses or damages caused by using the app or the information provided through it.</p>


    <h2>Changes to Terms and Conditions:</h2>

    <p>We reserve the right to modify these terms and conditions at any time. Any changes will be posted in the app and will take effect immediately after posting.</p>
    <p>Continued use of the app after changes to the terms and conditions constitutes acceptance of them.</p>

    <p>By using our app, you agree to adhere to these terms and conditions. If you have any questions or concerns, please contact us.</p>
    <div class="filler"></div>
</div>
<div class="footer"></div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
